body {
    width: 340px;
    height: 490px;

    font-family: 'comic sans ms';

    display: flex;

    flex-direction: column;
    align-items: center;
}

header, main {
    width: 100%;
    text-align: center;
}

header hr {
    width: 90%;
}